* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

@font-face {
    font-family: "Nunito Bold";
    src: url(fonts/NunitoSans_7pt_Condensed-ExtraBold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Nunito";
    src: url(fonts/NunitoSans_7pt_Condensed-Bold.ttf);
    font-weight: 700;
}

main {
    position: relative;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #F8F8FA;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;

}

.desc {
    width: 50%;
    padding: 194px 64px 0 64px;
}

.logo {
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
}

.desc__form-title {
    font-size: 36px;
}

.desc__par {
    margin: 14px 0 70px;
    color: #636363;
    font-size: 22px;
    line-height: 27px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.form__label {
    display: flex;
    flex-direction: column;
    color: #C6C6C4;
    font-size: 16px;
    /*height: 60px;*/
}

.form__input {
    color: #323232;
    font-size: 20px;
    border: none; /* Убираем стандартную рамку */
    border-bottom: 1px solid #C6C6C4; /* Добавляем серую рамку снизу */
    outline: none; /* Убираем контур фокуса */
    height: 35px;
}


.form__input:focus {
    border-bottom: 1px solid #636363; /* Увеличиваем толщину рамки при фокусе */
}

.form__input::placeholder {
color: #323232;
font-size: 20px;
}

.desc__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    margin: 30px 0 190px;
}

.desc__image-cont {
    position: relative;
    z-index: 10;
    margin: 254px 0 0 11px;
}
